{%extends "loginBundle:Default:basicentidade.html.twig"%}
{%block container %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Seu Perfil</strong>
                    </h2>
                    <hr>
                    <div class="col-xs-12" style="height:30px;"></div>
                    <div class="col-lg-2 text-center"></div>
                    <div class="col-lg-8">
                        <table class="table table-bordered" border="0" celpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col-lg-12 text-center">
                                            <div class="col-lg-12 text-left">
                                                <p>
                                                    <strong>Entidade:</strong>
                                                </p>
                                            </div>
                                            <div class="col-lg-12 text-left">
                                                <p>
                                                   {{nome}}
                                                </p>
                                            </div>
                                            <div class="col-lg-12 text-left">
                                                <p>
                                                    <strong>E-mail cadastrado:</strong>
                                                </p>
                                            </div>
                                            <div class="col-lg-12 text-left">
                                                <p>
                                                    {{email}}
                                                </p>
                                            </div>
                                            <div class="col-lg-12 text-left">
                                                <p>
                                                    <strong>Logradouro:</strong>
                                                </p>
                                            </div>
                                             <div class="col-lg-12 text-left">
                                                <p>
                                                    {{cidade}}
                                                </p>
                                            </div>
                                            <div class="col-lg-12 text-left">
                                                <p><strong>Descrição: </strong></p>
                                            </div>
                                            <div class="col-lg-12 text-center">
                                                <p>{{descricao}}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-xs-12" style="height:30px;"></div>
                        <form role="form" method="POST" action="{{path('login_homepage')}}" data-validate="parsley">
                            <div class="col-lg-12 text-center">
                                <div class="form-group col-lg-12">
                                    <button type="submit" class="btn btn-default" name="volta" value="voltar">Voltar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
{%endblock%}
